---
layout: default
---
<div class="intro">
  <p>リフォーム・建築の一人親方、小さな工務店の社長さんへ。<br>
  チラシと地域密着で、地元から仕事をもらう方法を、むずかしい言葉を使わずに書いていきます。毎週1本ずつ増えます。</p>
</div>
<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <span class="post-date">{{ post.date | date: "%Y年%-m月%-d日" }}</span>
    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    {% if post.description %}<p class="post-desc">{{ post.description }}</p>{% endif %}
  </li>
  {% endfor %}
</ul>
{% include cta.html %}
